.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

section {
  flex: 1
}
section>div,
div[role="textbox"] {
  height: 100%;
}
div[role="textbox"] {
  padding: 10px;
}